.gallery {
  display: grid;
  overflow: hidden;
  margin-right: -1rem;
  gap: 1rem;
  grid-auto-columns: 5rem;
  grid-auto-flow: column;
  grid-auto-rows: 22rem;
  grid-template-columns: 1fr;

  > * {
    min-width: 12rem;
  }

  @media screen and (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 58rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 70rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 78rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}
